{% for account in accounts %}
    <h2>{{ account.username }}</h2>
    {% for post in account.instagrampost_set.all %}
        <div>
            {% if post.image_url %}
                <img src="{{ post.image_url.url }}" alt="Post Image">
            {% endif %}
            {% if post.video_url %}
                <video src="{{ post.video_url.url }}" controls></video>
            {% endif %}
            <p>{{ post.description }}</p>
        </div>
    {% endfor %}
    {% if not account.instagrampost_set.exists %}
        <p>No hay posts disponibles para {{ account.username }}</p>
    {% endif %}
{% endfor %}
